<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storehub.beepcore" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".base.BaseNoModelActivity" />
    </application>
</manifest>
